html, select, option {
    background-color: rgb(50, 50, 50);
}

div, h1, h2, option {
    color: white;
}

div#mixer {
}

div.strip { 
    float: left;
    width: 40px;
    height: 450px;

    text-align: center;
}

div.light {
    background-color: rgba(75, 75, 75);
}

div.dark {
    background-color: rgba(50, 50, 50);
}

div.label {
    width: 200px;
    height: 25px;
    white-space: nowrap;
    
    transform: rotate(-90deg);
    
    position: relative;
    top: 92px;
    left: -80px;
}

div.percent {
    text-align: center;
    
    position: relative;
    top: 355px;
}

div.strip > input[type="range"] {
    transform: rotate(-90deg);
    
    position: relative;
    left: -75px;
    top: 270px;
}

div.invisible {
    display: none;
}
