html, select, option {
    background-color: rgb(50, 50, 50);
}

h1, h2, option {
    color: white;
}

div.split {
}

div#ambience,
div#mixer,
div#tone {    
    width: 30%;
    float: left;
}

div#mixer input {
    width: 90%;
    margin: 5%;
}

select {
    width: 90%;
    margin-left: 10px;
}

input#balance {
}

input[type="button"] {
    width: 90%;
    margin-left: 4%;
}

div.invisible {
    display: none;
}
