html, select, option {
    background-color: rgb(50, 50, 50);
}

div, h1, h2, option {
    color: white;
}

div.split {
}

h1, select {
    text-align: center;
}

div.split > div.left,
div.split > div.center,
div.split > div.right {
    width: 30%;
    float: left;
    text-align: center;
}

div#ambience,
div#mixer,
div#tone {    
    width: 30%;
    float: left;
}

div#mixer input {
    width: 90%;
    margin: 5%;
}

select {
    width: 90%;
    margin-left: 10px;
}

input#balance {
}


div.invisible {
    display: none;
}
